version: '3.9'

services:
  frontend:
    build: ./Frontend
    ports:
      - '5173:80'
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - '5000:5000'
    environment:
      - MONGODB_URL=${MONGODB_URL}
    depends_on:
      - mongodb
    
  mongodb:
    image: mongo
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"

volumes:
  mongo-data: